$color-black: #000000;
$color-charcoal: #474747;
$color-dark-grey: #818181;
$color-grey: #b7b7b7;
$color-dark: #222222;
$color-white: #ffffff;
$color-offwhite: #e5e5e5;
$color-barely-white: #fcfcfc;
$color-barely-grey: #f9f9f9;
$color-clouds: #f7f7f7;
$color-silver: #bdc3c7;
$color-concrete: #95a5a6;
$color-asbestos: #7f8c8d;
$color-tan: #d1dbbd;
$color-pewter: #91aa9d;
$color-morning: #e4f7ff;
$color-dusk: #ff824f;
$color-noon: #ccfffa;
$color-midnight: #002635;
$color-dawn: #4477c1;
$color-moonlight: #3e606f;
$color-deepocean: #193441;
$color-turquoise: #1abc9c;
$color-aqua: #16a085;
$color-grass: #89ac56;
$color-highlighter: #ffeb9b;
$color-sunflower: #f1c40f;
$color-orange: #f39c12;
$color-sienna: #bf4e19;
$color-milanored: #ac1c00;
$color-river: #3498db;
$color-marina: #2980b9;
$color-deco: #c9d787;
$color-crete: #7d8a2e;
$color-guardsman: #d90000;
$color-pomegranate: #c0392b;
$color-finn: #723147;
$color-lime: #c5ffac;
$color-tamarind: #31152b;
$color-salmon: #ffb598;
$color-flat-blue: #71a6d0;
$color-flat-green: #7dbf60;
$color-flat-red: #d04648;
$color-flat-orange: #d0a153;
$color-salmon: rgb(253, 236, 237);
